.contaniner {
  width: 100px;
}

.row {
  display: flex;
}

.column-one-tenth {
  flex-basis: 10%;
}

.column-half {
  flex-basis: 50%;
}

.canvas-logo {
  width: 147px;
  margin: 26px 93px;
}

.header-button {
  display: inline-block;
  padding: 9px 14px;
  margin: 16px 0;
}

.header-button:hover {
  color: #e7e7e6;
  background-color: #244264;
  border-radius: 4px;
}

.product {
  position: relative;
  right: 45px;
}

.implementation {
  position: relative;
  right: 57px;
}

.about-us {
  position: relative;
  right: 26px;
}

.blog {
  position: relative;
  right: 26px;
}

.contact-us {
  position: relative;
  right: 75px;
}

.column-ninety {
  flex-basis: 86.2%;
}

.header-height {
  height: 80px;
  border-bottom: 1px solid #b8b8b8;
}

.justify-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.align-text-center {
  text-align: center;
}

.margin-93 {
  margin: 0 11%;
}

.background-indigo {
  background-color: #244264;
}

.background-davys-grey {
  background-color: #515250;
}

.background-clear {
  background-color: #fafafa;
}

.background-hero {
  background: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("images/hero.jpg");

  /* opacity: 0.84; */
  background-repeat: no-repeat;
  background-size: 1130px;
  width: 1130px;
  height: 558px;
  margin-top: 91px;
  margin-bottom: 91px;
}

.hero-text {
  margin-left: 80px;
  margin-top: 90px;
}

.hero-text > h1 {
  font-size: 2.24em;
  line-height: 1.3em;
}

.font-tiempos-headline {
  font-family: "Tiempos Headline", serif;
}

.font-avenir {
  font-family: Avenir, sans-serif;
}

.font-black-coral {
  color: #6e6e6e;
}

.font-platinum {
  color: #e7e7e6;
}

.font-gray {
  color: #b8b8b8;
}

.font-white {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.font-body {
  font-size: 17px;
  line-height: 28px;
}

.get-started-button {
  display: inline-block;
  color: #e7e7e6;
  background-color: #244264;
  width: 205px;
  height: 59px;
  border-radius: 5px;
}
